<form class="js-validation-material form-horizontal push-10-t" role="form" novalidate>
    <div class="form-group">
        <div class="form-material">
            <textarea class="form-control" id="suggestions" name="suggestions" rows="3" placeholder="Share your ideas with us.."></textarea>
            <label for="suggestions">Write your Claim</label>
        </div>
    </div>
</form>
<form data-js-dropzone class="dropzone" callbacks="callbacks" options="dropZoneOptions" action="/upload"></form>